.login {
    background-color: white;
    padding: 1.5%;
    width: 20%;
    margin-left: 38.15%;
}

.loginTitle {
    margin-top: 5rem;
}

.title {
    font-size: 250%;
    margin: 10px;
    color: white;
    text-align: center;
}

a {
    font-size: 60%;
}


.agree {
    font-size: 60%;   
}